extends views/default.jade
block content
  .hero(style="background-image:url(img/herobg.jpg)")
    .heroBg
      
    .heroContent
      h1.mt0 "Custumer Mean Everything"
      p PT.Viktori Profindo Industri, we Supplies Mechanical, Electrical, Instrumentation, Automation and Control for Industrial Spare Parts and Machine

  section#aboutus
    .container.py4
      .sectionTitle
        .sectionTitle_img
        .sectionTitle_text
          span about us
      h2.h1.center The Company with a motto<br>"Customer Mean Everything"
      .md-column2
        p PT. Viktori Profindo Automation focuses on supplying Electrical, Mechanical, Instrumentation, Automation & Control System for Industrial Spare Parts and Machines. We offer two business concepts to our customers. Firstly, as Stockist & Distributor. Since October 2009, SIEMENS as one of the biggest companies in the world has been appointing us as their Authorized Distributor, stockist and system integrator in Industrial Automation & Drives Technology to penetrate and maintain their products in the industries. We also keep stocks for severals products described on next pages.
        p Secondly, we also act as your general trading partner. We can help you to supply many parts from around the world such as: PLC, Analog & Digital Input/Output Modules, Indicators, Sensors, Transducer, Recorder, Decorder, Regulator, LV-MV AC/DC Motors, Inverter/Converter, UPS, Pump, Gearbox, VCB, Swithgear, Rotary Joint, Coupling, Brake, Filters, Valves, Pneumatic Cylinder, etc. We supply, handle inquiries, and give technical support to various industrial sectors throughout Indonesia, such as Cement, Pulp & Paper, Steel, Food & Beverage, Glass & Ceramics Industry, Textile Industry, Plastics & Packaging, Power Plant, Mining, Oil & Gas, etc.
